{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}List of courses{% endblock %}

{% block content %}
    <h1 class="my-4">{{ 'title'|trans }}</h1>

    {% for course in courses %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="{{ course.thumbnail }}" alt="{{ course.title }}">
        <div class="card-body">
            <h2 class="card-title">{{ course.title }}</h2>
            <p class="card-text">{{ course.description }}</p>

            <form action="{{ path('course_delete') }}" method="POST">
                <input type="hidden" name="course_id" value="{{ course.id }}" />
                <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_course') }}">

                <button type="submit" class="btn btn-danger">Delete</button>
            </form>

            <a href="{{ path('course_modify', {"id": course.id}) }}" class="btn btn-primary pull-right">Modify</a>

        </div>
        <div class="card-footer text-muted">
            Posted on {{ course.postedAt|date('d/m/Y') }} by
            <a href="#">{{ course.author }}</a>
        </div>
    </div>
    {% else %}
        <div class="alert alert-success">No courses yet! <a href="{{ path('course_create') }}">Create one?</a></div>
    {% endfor %}


    <!-- Pagination -->
    {#<ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>#}
{% endblock %}
